{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>

</div>

<div class="page_title">
    About Us  
</div>

<p>

<div class="content">


About: The active ingredients in sunscreens protect the skin by blocking ultraviolet (UV) radiation from being absorbed by the skin.
 UV radiation damages the skin and can lead to sunburns and skin cancer. We have created a database system to showcase the different types of sunscreens on the market.
There are two main types of sunscreen:
1. Organic*:  
2. Inorganic
It is important to find the best sunscreen products for your skin and for the environment. 
It is important to understand what is in your products!

</div>


</p>

In our archive, we chose 5 types of suncreen


{% endblock %}